:root {
  --background-color-mail: #e5e5e5;
  --background-color-secondary: #f9f3f5;
  --background-color-skill-first: #fdfdfd;
  --background-color-skill-first: #fce8e6;
  //   background: radial-gradient(51.33% 49.78% at 49.47% 44.58%, #FDFDFD 0%, #FCE8E6 100%);
  --background-color-contact-form: #fffafa;

  --color-text-main: #282828;
  --color-text-secondary: #c4c4c4;
  --color-accent: #ff4c60;
}
