.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.header {
  // position: absolute;
  // top: 0;
  // background-color: transparent;

  display: flex;

  &__burger {
    position: relative;
    width: 30px;
    height: 20px;
  }

  &__burger span,
  &__burger::before,
  &__burger::after {
    background-color: var(--color-text-main);
    position: absolute;

    height: 2px;
    border-radius: 2px;
  }

  &__burger span {
    width: 76%;
    top: 9px;
    right: 0;
  }

  &__burger::before,
  &__burger::after {
    content: '';
    width: 100%;
    left: 0;
  }

  &__burger::before {
    top: 0;
  }
  &__burger::after {
    bottom: 0;
  }
}

.header-links {
  display: flex;

  margin-left: 120px;

  &__item:last-child {
    margin-left: 50px;
  }

  &__link {
    display: inline-flex;
    align-items: center;

    padding-top: 39px;
    padding-bottom: 39px;

    fill: currentColor;
    color: inherit;
  }
  &__link--active {
    fill: var(--color-accent);
    color: var(--color-accent);
  }

  &__icon {
    margin-right: 8px;
  }
}
